{% extends 'store/base.html' %}

{% block title %}Продукты{% endblock %}

{% block content %}

<div class="product-list">

    {% for product in products %}
    <div class="product-item">
        <a href="{% url 'product_detail' product.id %}">{{ product.name }}</a>
        {% if product.photo %}
        <br><img src="{{ product.photo.url }}" alt="{{ product.name }}" style="width:150px; height:auto;">
        {% endif %}
        <div>
            <p>Цена: {{ product.price }}</p>
            <a href="{% url 'product_detail' product.id %}">Подробнее</a>
        </div>
        <div class="buttons">
        <form id="order-form" method="post" action="{% url 'place_order_product' product.id %}">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit" id="order-button">Заказать продукт</button>

        </form>
        <button class="add-to-cart" data-product-id="{{ product.id }}">Добавить в корзину</button>
    </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
